{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-6">
      <h4>Grades</h4>
    </div>
    {% if user.teacher %}
      <div class="col-12 col-md-4 col-lg-4 ml-lg-auto">
        <div class="btn-group" role="group">
          <a class="nav-link" href="{% url 'grade-create' pk=course.id%}"><button class="btn btn-outline-primary" type="submit">Add new</button></a>
          <a class="nav-link" href="{% url 'course-detail' pk=course.id%}"><button class="btn btn-outline-dark" type="submit">Back to course</button></a>
        </div>
      </div>
    {% endif %}
  </div>
  {% if grades %}
    <ul class="list-group list-group-flush">
      {% for grade in grades %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-12 col-md-5 my-auto">
              <a class="text-dark" href="{{ grade.get_absolute_url }}">{{grade.grade}}</a>
            </div>
            <div class="col-7">
              <div class="btn-group" role="group" aria-label="Basic example">
                <a class="nav-link" href="{{ grade.get_absolute_url }}"><button class="btn btn-outline-primary"   type="submit">Show details</button></a>
                <a class="nav-link" href="{% url 'grade-update' pk=grade.id %}"><button class="btn  btn-outline-dark" type="submit">Update</button></a>
                <a class="nav-link" href="{% url 'grade-delete' pk=grade.id %}"><button class="btn  btn-outline-dark" type="submit">Delete</button></a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no grades.</p>
  {% endif %}
{% endblock %}
