{% extends "base.html" %}

{% block content %}
  <h4>Grade details</h4>
  <p>Grade: {{grade.grade}}</p>
  <p>Course {{grade.course}}</p>
  <p>Given by: {{grade.teacher}}</p>
  <p>For student: {{grade.student}}</p>
  <p>At: {{grade.datetime}}</p>

  <div class="btn-group" role="group" aria-label="Basic example">
  	<a class="nav-link" href="{% url 'grade-update' pk=grade.id %}"><button class="btn  btn-outline-dark" type="submit">Update</button></a>
  	<a class="nav-link" href="{% url 'grade-delete' pk=grade.id %}"><button class="btn  btn-outline-dark" type="submit">Delete</button></a>
    <a class="nav-link" href="{% url 'grades' pk=grade.course.id %}"><button class="btn  btn-outline-dark" type="submit">Back to grades list</button></a>
  </div>
{% endblock %}
